@import '_setting.scss';
$appbar-color:#0067a3;
$list-color:#ebecf0;
$common-element-bg:rgba(255,255,255, .24);
$column-header-height:46px;
$column-footer-height:46px;
$column-border-radius:8px;
$border-radius-card:5px;


.board-content{
    height: $boar-content-height;
    display: flex;
    margin: 0 $gap $gap;
    overflow-x: auto;
    overflow-y: hidden;
    &::after{
      content: "";
      flex: 0 0 $gap;
    }
    &::-webkit-scrollbar{
      -webkit-appearance: none;
    }
    &::-webkit-scrollbar:horizontal{
      height: 11px;
    }
    &::-webkit-scrollbar-thumb{
      background-color: darken($common-element-bg, 15);
      border-radius: 8px;
    }
    .column-drop-preview{
      background-color: rgba(150, 150, 200, 0.1);
      border: 1px dashed #abc;
      margin: 5px;
    }
  .add-new-column{
    width: 250px;
    max-width: 250px;
    line-height: 32px;
    margin-left: $gap;
    padding: 4px 0 4px 15px;
    cursor: pointer;
    color: white;
    font-size: 15px;
    background-color: hsla(0, 0%, 100%, .24);
    border-radius: $column-border-radius;
    &:hover{
      background-color: hsla(0, 0%, 100%, .34);
    }
  }
  .enter-new-column{
    width: 250px;
    max-width: 250px;
    background-color: $column-bg-color;
    line-height: 32px;
    margin-left: $gap;
    padding: 4px 10px;
    border-radius: $column-border-radius;
    input.input-enter-new-column{
      margin: 5px 0;
      &:focus{
        border-color: $input-border-color;
      }
    }
    span.cancel-new-column{
      margin-left: $gap;
      cursor: pointer;
      i{
        font-size: 18px;
        color: $alert-danger;
        &:hover{
          color:darken($alert-danger, 15);
        }
      }
    }
  } 
}