@import '_setting.scss';
$appbar-color:#0067a3;
$list-color:#ebecf0;
$common-element-bg:rgba(255,255,255, .24);
$column-header-height:46px;
$column-footer-height:46px;
$column-border-radius:8px;
$border-radius-card:5px;


.board-content{
    display: flex;
    margin: 0 $gap $gap;
    overflow-x: auto;
    &::-webkit-scrollbar{
      -webkit-appearance: none;
    }
    &::-webkit-scrollbar:horizontal{
      height: 11px;
    }
    &::-webkit-scrollbar-thumb{
      background-color: darken($common-element-bg, 15);
      border-radius: 8px;
    }
    
}